/* fonts */
@font-face {
    font-family: 'FredokaOne';
    src: url('../assets/fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

/* typography */
h1 {
    font-family: FredokaOne;
}

body {
    background-color: aqua;
}

/* detail */

.logo-navbar {
    height: 2em;
}

.social-logo {
    height: 1.6em;
}

.logo-besar {
    animation: muter 30s linear infinite ;
}

@keyframes muter {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}