/* ambil style dari global */
@import "../css/style.css"; 

/* background tambahan */
.lingkaran {
    position: fixed;
    z-index: -1;
    background-color: #449C94;
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    bottom: calc(-150%);
    right: calc(-100% + 30%);
    animation: degdeg 10s linear infinite ;
}

@keyframes degdeg {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.card img {
    max-height: 200px;
    transition: transform 1s, border-radius 1s;
}

.card img:hover {
    transform: scale(1.1);
    border-radius: calc(.25rem - 1px);
}

.card-text {
    /* min-height: 150px; */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 5;
    box-orient: vertical;
    max-height: 200px;
    transition: max-height 3s ease-out;
}

.card:hover .card-text{
    display: block;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: inherit;
    overflow: visible;
    line-clamp: inherit;
    box-orient: inherit;
    max-height: 500px;
    transition: max-height 3s ease-in;
}

.jumbotron *{
    z-index: 2;
    overflow: hidden;
}

.solution-jumbotron-image {
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 1;
    max-height: 300px;
    animation: nongol 2s linear ;
    animation-iteration-count: 1;

}

@keyframes nongol {
    0% {
        height: 0px;
    }
    100% {
        height: 300px;
    }
}

/* untuk mobile  */
@media only screen and (max-width: 600px) {
    .lingkaran {
        position: fixed;
        z-index: -1;
        background-color: #449C94;
        height: 2000px;
        width: 2000px;
        border-radius: 50%;
        bottom: calc(-100%);
        right: calc(-100% + 30%);
    }
  }